*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.m_P_gh{
  margin: 0;
  padding:0;
}
body{
  font-family: 'Oswald', sans-serif;
}
header{
  background-color: #333;
  padding: 10px 0;
}
.header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_content .brand{
  font-size: 30px;
  text-decoration: none;
  color: #fff;
}
nav ul{
  display: flex;
  list-style:none;

}
nav li a{
  display: block;
  color: #fff;
  min-width: 50px;
  padding: 5px;
  margin-inline-end: 10px;
  
}
nav ul#user_info{
  display: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~section form */

.section_form{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 40%;
  text-align: center;
  background-color: #120b16;
  padding: 20px;
}
.section_form h2{
  font-size: 50px;
  letter-spacing: 2px;
  color: #8b41aa;
}


.section_form form input{
  display: block;
  width: 100%;
  margin: 5px 0;
  height: 40px;
  border: 1px solid #ddd;
  padding: 5px;
  font-family: 'Oswald', sans-serif;

}
.section_form form input[type=submit]{
  font-size: 25px;
  text-transform: uppercase;
  height: auto;
  cursor: pointer;
}
.section_form form input[type=submit]:hover{
  opacity: .8;

}
.section_form form input:hover ,
.section_form form input:focus{
  border-color: #fc0505;
  outline: 0;
}
.section_form form i{
  color: #ffffff;
  cursor: pointer;
}
#eyes_{
  display: none;
}
.products{
  width: 50%;
  padding: 10px 0;
}
.products-item{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  min-height: 150px;
}
.products-item img{
  margin-inline-end: 10px;
}
.products-item-desc-action{
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.products-item .add-to-cart{
  display: block;
  margin-left: auto;
  background-color: #57057b;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  font-size: 14px;
}
.products-item-desc-action .favorite{
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  color: #57057b;
}

nav i{
  color: #fff;
}