*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Oswald', sans-serif;
}
header{
  background-color: #333;
  padding: 10px 0;
}
.header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_content .brand{
  font-size: 30px;
  text-decoration: none;
  color: #fff;
}
nav ul{
  display: flex;
  list-style:none;

}
nav li a{
  display: block;
  color: #fff;
  min-width: 50px;
  padding: 5px;
  margin-inline-end: 10px;
  
}
nav ul#user_info{
  display: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~section form */

.section_form{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 40%;
  text-align: center;
  background-color: #bc6ff1;
  padding: 20px;
}
.section_form h2{
  font-size: 50px;
  letter-spacing: 2px;
  color: #57057b;
}


.section_form form input{
  display: block;
  width: 100%;
  margin: 5px 0;
  height: 40px;
  border: 1px solid #ddd;
  padding: 5px;
  font-family: 'Oswald', sans-serif;

}
.section_form form input[type=submit]{
  font-size: 25px;
  text-transform: uppercase;
  height: auto;
  cursor: pointer;
}
.section_form form input[type=submit]:hover{
  opacity: .8;

}
.section_form form input:hover ,
.section_form form input:focus{
  border-color: #57057b;
  outline: 0;

}