//  colors 
$main_color : #2f466e;
$color_1    : #ffffff;
$color_2    : #d0a809;
$color_3    : #283c5e;
$color_4    : #bdbdbd;
$color_5    : #b3b3b3;

// button
$height_btn:49px;

// font

$font_s  : 16px;
$font_b  : 700;