footer{
  padding: 70px 0;
  .logo{
    margin-bottom: 30px;
    text-align:start;
  }
  .ul_social{
    display: flex;
    a{
      margin-inline-end: 30px;
      color: $color_1;
      font-size: $font_s + 4;
      transition: .5s;
      &:hover{
        color: $color_2;
        transform: translateY(-5px);
      }
    };
    @include xs{
      .logo{
        text-align: center;
      }
    }
  }
  .f_div{
    .f_btn{
      font-size: $font_s +2;
      font-weight: 700;
      color: $color_1;
      margin-bottom: 20px;
    }
    .ul_list{
      text-align: start;
      a{
        font-size: $font_s;
        color: $color_4;
        font-weight: 400;
        line-height: 2;
        transition: .5s;
        &:hover{
          color: $color_2;
        }
        i{
          color: $color_2;
          margin-inline-end: 5px;
        }
      }
    }
  }
  .newslatter{
    text-align: start;
    h4{
      font-size: $font_s +2;
      font-weight: 700;
      color: $color_1;
      margin-bottom: 20px;
    }
    p{
      font-size: $font_s;
      color: $color_1;
      font-weight: 400;
      margin-bottom: 20px;
    }
    .input_div{
      position: relative;
      input{
        width: 100%;
        height: 40px;
        background-color: $color_1;
        border: 1px solid transparent;
        padding-inline-start: 40px;
        font-size: $font_s - 2;
        color: $color_5;
        font-weight: 500;
        &:focus{
          outline: 0;
          border-color: $color_2;
        }
      }
      .fa_env{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 15px;
        color: $color_5;
        @include en{
          left: 15px;
  
        }
      }
  
      .btn_newsla{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        
        color: $color_5;
        transition: .5;
        &:hover{
          color: $color_2;
        }
        @include ar{
          left: 20px;
        }
        @include en{
          right: 20px;
        }
      }
    }

  }
}
@include min_{
  .f_div{
    .ul_list{
      display: block;
    }
  }
  .newslatter{
    .coll_{
      display: block;
    }
  }

}
@include sm{
  footer{
    padding: 50px 0 30px;
    .logo{
      text-align: center;
      margin-bottom: 20px;
    }
    .social_media{
      margin-bottom: 40px;
    }
    .ul_social{
      justify-content: center;
      li{
        a{
          margin:0 10px;
        }
      }
    }
    .f_div {
      .f_btn{
        font-size: $font_s;
        width: 100%;
        height: 100%;
        text-align: start;
        @include angle_;

      }
  
    }
    .newslatter{
    .f_btn{
      @include angle_;
    }
    }
    .f_div{
      .ul_list{
        
        a{
          margin-inline-start: 15px;

        }
        li:last-child{
          margin-bottom: 30px;
        }
        li:first-child{
          margin-top: -9px;
        }
      }
    }
  }
}
.copyright_parant{
  .copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, .102);
    padding: 20px 0 20px;
    .copy_t{
      font-size: $font_s - 2;
      color: $color_1;
      font-weight: 300;
    }
    .tasawk{
      @extend .copy_t;
      img{
        margin-inline-start: 3px;
      }
    }
  }
}

@include xs{
  .copyright{
    flex-direction: column;
    .copy_t{
      text-align:center;
      text-align-last: center;
      margin-bottom: 10px;
    }
  }
}